nav{
    height: 70px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 20px 40px;
}

.navBarMaxWidth {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarMaxWidth .logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

nav ul li {
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 16px;
}