@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.btn {
    background-color: #ffffff;
    color: rgb(23, 17, 17);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: 0;
    outline: none;
}