.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(112, 5, 220, 0.5), rgba(15, 5, 145, 0.5)), url('../../assets/herobg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.hero-text h1{
    font-size: 90px;
    text-align: center;
    max-width: 950px;
    font-weight: 700;
    line-height: 1;
}

.hero-text p{
    font-size: 20px;
    max-width: 800px;
    text-align: center;
    line-height: 1.5;
}